/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
  font-family: 'Raleway', sans-serif;
 }

 h1, h2 {
  font-family: 'Alice', serif;
 }

nav ul {
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr 1fr 1fr 4fr;
  background: #dddddd;
  padding: 1em;
  list-style: none;
  width: 100%;
}

 .dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  background-color: #efefef;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.online-button {
  background-color: #0169d8;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 12px;
}

.online-button:hover {
  background-color: #0076ed;
}

.offline-button {
  background-color: #c72233;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 12px;
}

.offline-button:hover {
  background-color: #e0283a;
}

.online-button a,
.offline-button a {
  color: white;
}

.retired {
  background-color: #424242;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 12px;
}